<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>世界你好</h1>
  <script src="/xuni/bundle.js"></script>
  <script>
    var templateStr = '我买了一个{{thing}},好{{mood}}啊'
    var data = {}
    SSG_TemplateEngine.render(templateStr,data)
  </script>
</body>
</html>