<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul id="list"></ul>
    <script src="text/template" id="temp">
      //只要上面不是text/javascript那么浏览器就不会把他当成是一个js语法解析,只是一个普通标签
      // 所以当远古时期,没有反引号的时候,我们就这么干
          <ul>
            {{#arr}}
              <li>
                <p>{{name}}</p>
                <p>{{age}}</p>
                {{#like}}
                <p>{{.}}</p>
                {{/like}}
              </li>
              {{/arr}}
          </ul>
    </script>
    <script src="./mustache.js"></script>

    <script>
      const list = document.getElementById('list')
      // 我们这么干:
      var template = document.getElementById('temp').innerHTML
      var template = `
      {{#arr}}
      <li>
        <p>{{name}}</p>
        <p>{{age}}</p>
        {{#like}}
        <p>{{.}}</p>
        {{/like}}
      </li>
      {{/arr}}
    `
      var data = {
        arr: [
          { name: '小明', age: 18, like: [1, 2] },
          { name: '小红', age: 20, like: [3, 4] },
          { name: '小光', age: 18, like: [5, 6] },
        ],
      }
      console.log(mustache)
      var domStr = mustache.render(template, data)
      list.innerHTML = domStr
    </script>
  </body>
</html>
