<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="list"></div>
  <script src="./mustache.js"></script>
  <script>
    var data = {
      food:'西瓜',
      ball:'篮球'
    }
    var template = '我爱吃{{food}},我爱打{{ball}}'
    // console.log(template.replace(/\{\{(\w+)\}\}/g,function(str,$1){
    //   console.log($1)
    //   return data[$1]
    // }))
    function render(template,data){
      return template.replace(/\{\{(\w+)\}\}/g,function(str,$1){
      console.log($1)
      return data[$1]
    })
    }
    // var result = render(template,data)
    var result = Mustache.render(template,data)
    console.log(result)
  </script>
</body>
</html>